<p>navbar works!</p>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">OpenLibra</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a [routerLink]="['/']">Inicio</a></li>
          <li><a [routerLink]="['/curso']">Cursos</a></li>
          <li><a [routerLink]="['/contacts']">Contactenos</a></li>
          <li><a [routerLink]="['/admin']">Administrador</a></li>
          <li><a [routerLink]="['/auth']">Inicio de Sesion</a></li>
        </ul>
      </div>     
</nav>
